* {
    margin: 0;
    padding: 0;   
}


header {
    background: url(background.jpg) center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

h1, h2{
    font-family: monospace;
    text-align: center;
    color: #ddd;
    
    
}
h1 {
    font-size: 40px;
    margin-bottom: 5px;
    padding-top: 150;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 20px;

}

h2 {
    font-size: 18px;

}

button {
    position: absolute; 
    bottom: 50%; 
    left: 50%;
    width: 260px;
    height: 70px;
    padding: 20px;
    background-color: rgba(139, 69, 19, 0.54);
    border: 1px solid rgba(139, 69, 19, 0.21);
    color: white;
    font-size: 25px;
    margin-top: -35px;
    margin-left: -130px;
    -webkit-transition: all 1s ease;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

button.menu:hover {background-color: rgba(247, 134, 53, 0.67);
    cursor: pointer;
    